$--color-grey: #F4F4F4;
$--color-dark-grey: #666666;
$--color-black: #2c3e50;

$--color-bordo: #B10A32;
$--color-primary: #007CFF;

$--primary: #B10A32;
$--primary-hover: #A5AFFB;
$--second: #BE52F2;
$--second-hover: #DBA5F5;
$--success: #00C48C;
$--success-hover: #7DDFC3;
$--info: #0084F4;
$--info-hover: #66B5F8;
$--warning: #FFA26B;
$--warning-hover: #FFC7A6;
$--danger: #FF647C;
$--danger-hover: #FDAFBB;